In [133]:
import pandas as pd
import dataframe_image as dfi

In [145]:
dv1_psnr_w_all = pd.read_csv("D_v1_PSNR_all_watermarked.csv",index_col=0)
dv1_ssim_w_all = pd.read_csv("D_v1_SSIM_all_watermarked.csv",index_col=0)

In [155]:
dv1_psnr_w_all['Average'] = dv1_psnr_w_all.mean(axis=1)
dv1_ssim_w_all['Average'] = dv1_ssim_w_all.mean(axis=1)

In [181]:
combine_psnr_w_all = pd.read_csv("Comparison_PSNR_Watermarked_Images.csv",index_col = 0)

In [182]:
dv1_psnr_w_all.values[0]

array([46.35851151, 46.36451191, 46.35230305, 46.35460634, 46.2231372 ,
       46.34704821, 46.26749029, 46.30221284, 46.32122767])

In [183]:
combine_psnr_w_all =  combine_psnr_w_all.rename(columns={'Proposed Method':"Proposed(2x2)"})

In [184]:
combine_psnr_w_all["Proposed(4x4)"] = dv1_psnr_w_all.values[0]

In [185]:
combine_psnr_w_all

,Image,Tong(2013),Dadklah(2014),Singh(2016),Fan(2018),Tai(2018),Molina(2019),Afrig(2022),Muzamil(2022),Proposed(2x2),Proposed(4x4)
0,Airplane,37.88,44.12,37.88,44.11,44.12,44.69,45.68,44.70,46.371,46.358512
1,Baboon,37.90,44.14,37.90,44.12,44.14,44.64,45.70,44.92,46.368,46.364512
2,House,37.88,44.19,37.88,44.18,44.18,44.66,45.69,44.70,46.362,46.352303
3,Lena,37.90,44.13,37.90,44.13,44.12,44.60,45.71,44.98,46.366,46.354606
4,Peppers,37.79,44.06,37.79,44.06,44.06,44.54,45.54,44.76,46.156,46.223137
5,Sailboat,37.90,44.12,37.90,44.10,44.11,44.61,45.68,44.87,46.356,46.347048
6,Splash,37.84,44.08,37.84,44.08,44.09,44.47,45.57,44.84,46.215,46.267490
7,Tiffany,37.44,43.85,37.44,43.84,43.85,44.87,44.95,44.89,45.871,46.302213
8,Average,37.82,44.09,37.82,44.08,44.08,44.64,45.57,44.83,46.258,46.321228

In [127]:
# combine_ssim_w_all.loc[8] =  combine_ssim_recovered_all.mean()[1:]

In [128]:
# combine_ssim_recovered_all.mean()[1:]

Tong(2013)       0.624750
Dadklah(2014)    0.525087
Singh(2016)      0.560612
Fan(2018)        0.639150
Tai(2018)        0.560625
Molina(2019)     0.744938
Afrig(2022)      0.930138
Muzamil(2022)    0.876075
Proposed(2x2)    0.883128
Proposed(4x4)    0.874819
dtype: float64

In [129]:
# combine_ssim_recovered_all.iloc[8,0] = 'Average'

In [130]:
# combine_ssim_recovered_all

,TR,Tong(2013),Dadklah(2014),Singh(2016),Fan(2018),Tai(2018),Molina(2019),Afrig(2022),Muzamil(2022),Proposed(2x2),Proposed(4x4)
0,10.0,0.97330,0.913100,0.929000,0.97310,0.938400,0.971400,0.992800,0.992000,0.988410,0.986768
1,20.0,0.91710,0.798300,0.831000,0.95020,0.844300,0.939000,0.986400,0.989900,0.977543,0.972377
2,30.0,0.82820,0.685500,0.725700,0.88750,0.736400,0.897700,0.974200,0.987900,0.959624,0.953171
3,40.0,0.71500,0.573100,0.621500,0.72300,0.622600,0.836800,0.955500,0.983500,0.927342,0.921299
4,50.0,0.58490,0.470400,0.513900,0.72020,0.513500,0.757100,0.933900,0.918700,0.883146,0.880772
5,60.0,0.45200,0.358600,0.398400,0.42490,0.389900,0.646000,0.905900,0.833900,0.838922,0.831481
6,70.0,0.32330,0.250600,0.285500,0.42490,0.274400,0.515700,0.870500,0.672400,0.782093,0.769914
7,80.0,0.20420,0.151100,0.179900,0.00940,0.165500,0.395800,0.821900,0.630300,0.707944,0.682770
8,Average,0.62475,0.525087,0.560612,0.63915,0.560625,0.744938,0.930138,0.876075,0.883128,0.874819

In [186]:
def highlight_max(s):
    # Get 5 largest values of the column
    is_large1 = s.nlargest(1).values
    is_large2 = s.nlargest(2).values
    # Apply style is the current value is among the 5 biggest values
    return ['color: DarkRed;font-weight:900' if v in is_large1 else 'font-weight:900' if v in is_large2 else '' for v in s]

In [187]:
hl_psnr_w_all = combine_psnr_w_all.style.apply(highlight_max,subset=combine_psnr_w_all.columns[2:],axis=1).apply(lambda x: ['background: lightgreen:' if x.name == 8 else '' for i in x], 
               axis=1)
hl_psnr_w_all.format(precision=4)
hl_psnr_w_all.hide_index()

C:\Users\61092\AppData\Local\Temp\ipykernel_17432\2807266135.py:4: FutureWarning: this method is deprecated in favour of `Styler.hide(axis="index")`
  hl_psnr_w_all.hide_index()

In [125]:
# dfi.export(
#     hl_PSNR_recovered_all,
#     "Combine_PSNR_recovered_overall.png",
#     fontsize=12,
# )

In [1]:
# hl_SSIM_recovered_all = combine_ssim_recovered_all.style.apply(highlight_max,subset=combine_ssim_recovered_all.columns[2:],axis=1).apply(lambda x: ['background: lightgreen:' if x.name == 8 else '' for i in x], 
#                axis=1)
# hl_SSIM_recovered_all.format(precision=4)
# hl_SSIM_recovered_all.hide_index()

NameError: name 'combine_ssim_recovered_all' is not defined